<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Admin Help & Support</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
    <body>
        <h1><%= title%></h1>
        <form id="html_form" action="adminHelpDesk" role="form" method="post">
					<div class="form-group">
						<label for="userID">Search User</label>
						<input type="text" class="form-control" id="userID" name="userID" placeholder="Enter user ID here"></input>
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
					<h6> </h6>
					<div class=form-group>
						<label>Sort by: </label>
						<select name="sort" id="sort">
							<option value="0"></option>
							<option value="1" <%= selected[0] %>>date added (newest)</option>
							<option value="2" <%= selected[1] %>>date added (oldest)</option>
							<option value="3" <%= selected[2] %>>ascending user ID</option>
							<option value="4" <%= selected[3] %>>descending user ID</option>
						</select>
					</div>
        </form>
    	<table class="table">
			<thead>
				<tr>
					<th scope="col">User ID</th>
					<th scope="col">Message</th>
					<th scope="col">Date & Time</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<data.length; i++) { %>
				<tr>
					<td><%= data[i].userid%></td>
					<td><%= data[i].message%></td>
					<td><%= data[i].date%></td>
				</tr>
				<% } %>
			</tbody>
				</table>
    </body>
</html>
    