<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Find Ride</title>
    <link rel='stylesheet' href='/stylesheets/loggedinStyle.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
		<div class="header">
			<% if (driver) { %>
				<%- include dualHeader.ejs %>
			<% } else { %>
				<%- include passengerHeader.ejs %>
			<% } %>
		</div>

		<div class="main">
	  <div style = "background-color: PALEGOLDENROD">Available balance (before deducting existing bids): <%= data1[0].balance %> <br>
		Available balance (after deducting existing bids): <%= data1[0].balance - data2[0].totalbid %>
		</div>
    <h1><%= title%></h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Ride ID</th>
					<th scope="col">Driver Name</th>
					<th scope="col">Driver Rating</th>
					<th scope="col">Source</th>
					<th scope="col">Destination</th>
					<th scope="col">Departing Time</th>
					<th scope="col">Number of seats left</th>
					<th scope="col">Highest Bid</th>
					<th scope="col">Bid</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<data.length; i++) { %>
				<tr>
					<% if (driver) { %>
						<form method="post" action="findRide?driver=true">
					<% } else { %>
						<form method="post" action="findRide">
					<% } %>
					<td><%= data[i].rid%></td>
					<td><%= data[i].name%></td>
					<td><%= data[i].ratings%></td>
					<td><%= data[i].source%></td>
					<td><%= data[i].destination%></td>
					<td><%= data[i].date%></td>
					<td><%= data[i].numseats%></td>
					<td><%= data[i].maxpt%></td>
					<td>
						<input type="number" class="form-control" id="bid" name="bid" placeholder="Enter your bid point">
						<button type="submit" class="btn btn-primary" name="rid" value="<%= data[i].rid%>">Bid</button>
					</td>
				</form>
				</tr>
				<% } %>
			</tbody>
		</table>
		</div>
		<script>
			
		</script>
  </body>
</html>
