<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Manage Bids</title>
    <link rel='stylesheet' href='/stylesheets/appStyle.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
			<div class="header">
					<% if (driver) { %>
						<%- include dualHeader.ejs %>
					<% } else { %>
						<%- include passengerHeader.ejs %>
					<% } %>
				</div>

		<div class="main">
	  <div style = "background-color: PALEGOLDENROD">Available balance (before deducting existing bids): <%= getWalletBalance[0].balance %> <br>
		Available balance (after deducting existing 'pending' bids): <%= getWalletBalance[0].balance - getTotalBids[0].totalbid %>
		</div>
		<h1><%= title%></h1>
		<p>Enter bid = 0 to retract bid</p>
		<p>Your bid = 0 if bid is rejected</p>
		<p>Note: You cannot bid more than the available balance (after deducting existing 'pending' bids)</p>
		<form method="post" action="manageBids?search=true">
				<div class="form-group">
					<label style="padding-top: 5px" for="source">Search source</label>
					<input type="text" class="form-control" id="source" name="source" placeholder="Enter source here">
					<label style="padding-top: 5px" for="destination">Search destination</label>
					<input type="text" class="form-control" id="destination" name="destination" placeholder="Enter destination here">
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
		</form>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Ride ID</th>
					<th scope="col">Driver name</th>
					<th scope="col">Driver Rating</th>
					<th scope="col">Source</th>
					<th scope="col">Destination</th>
					<th scope="col">Departing Time</th>
					<th scope="col">Number of seats left</th>
          <th scope="col">Highest Bid</th>
          <th scope="col">Your Bid</th>
					<th scope="col">Bid</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<getBidInfo.length; i++) { %>
				<tr>
				<form method="post" action="manageBids">
					<td><%= getBidInfo[i].rid%></td>
					<td><%= getBidInfo[i].name%></td>
					<td>
						<% if (getBidInfo[i].ratings == -1 || !getBidInfo[i].ratings) { %>
							no rating 
						<% } else { %>
							<%= getBidInfo[i].ratings%>
						<% } %>
					</td>
					<td><%= getBidInfo[i].source%></td>
					<td><%= getBidInfo[i].destination%></td>
					<td><%= getBidInfo[i].date%></td>
					<td><%= getBidInfo[i].numseats%></td>
          <td><%= getBidInfo[i].maxpt%></td>
          <td><%= getBidInfo[i].points%></td>
					<% if (getBidInfo[i].status==='pending') { %>
					<td>
						<input type="number" class="form-control" id="bid" name="bid" placeholder="Enter your new bid">
						<button type="submit" class="btn btn-primary" name="rid" value="<%= getBidInfo[i].rid%>">Update Bid</button>
					</td>
					<% } else if (getBidInfo[i].status === 'rejected') { %>
						<td>Bid rejected</td>
					<% } else { %>
						<td>Ride confirmed</td>
					<% } %>
				</form>
				</tr>
				<% } %>
			</tbody>
		</table>
		</div>
		<script>
			
		</script>
  </body>
</html>
