<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Select Passenger</title>
    <link rel='stylesheet' href='/stylesheets/appStyle.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
		<div class="header">
			<%- include driverHeader.ejs %>
		</div>

		<div class="main">
		<h1><%= title%></h1>
		<form method="post" action="selectPassenger?search=true">
				<div class="form-group">
					<label style="padding-top: 5px" for="rid">Search ride ID</label>
					<input type="number" class="form-control" id="rid" name="rid" placeholder="Enter ride ID here" min="1">
					<label style="padding-top: 5px" for="name">Search passenger name</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter passenger name here">
					<label style="padding-top: 5px" for="source">Search source</label>
					<input type="text" class="form-control" id="source" name="source" placeholder="Enter source here">
					<label style="padding-top: 5px" for="destination">Search destination</label>
					<input type="text" class="form-control" id="destination" name="destination" placeholder="Enter destination here">
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
		</form>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Ride ID</th>
					<th scope="col">Passenger Name</th>
					<th scope="col">Passenger Rating</th>
					<th scope="col">Source</th>
					<th scope="col">Destination</th>
					<th scope="col">Depart Time</th>
					<th scope="col">Number of Seats Left</th>
					<th scope="col">Passenger bid</th>
					<th scope="col">Highest Bid</th>
					<th scope="col">Select Passenger</th>
					
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<getPassengerBids.length; i++) { %>
				<tr>
				<form method="post" action="selectPassenger">
					<td><%= getPassengerBids[i].rid%></td>
					<td><%= getPassengerBids[i].name%></td>
					<td><% if (getPassengerBids[i].ratings == -1 || !getPassengerBids[i].ratings) { %>no rating 
                        <% } else { %>
                            <%= getPassengerBids[i].ratings%>
                        <% } %>
                    </td>
					<td><%= getPassengerBids[i].source%></td>
					<td><%= getPassengerBids[i].destination%></td>
					<td><%= getPassengerBids[i].date%></td>
					<td><%= getPassengerBids[i].numseats%></td>
					<td><%= getPassengerBids[i].points%></td>
					<td><%= getPassengerBids[i].maxpt%></td>
					
					<td>
						<button type="submit" class="btn btn-primary" id="val" name="val" 
						value=
						"<%= getPassengerBids[i].rid %>; <%= getPassengerBids[i].name %>; <%= getPassengerBids[i].source %>; <%= getPassengerBids[i].destination %>; <%= getPassengerBids[i].date %>; <%= getPassengerBids[i].numSeats %>; <%= getPassengerBids[i].points %>; <%=getPassengerBids[i].pid%>">
						Select</button>
					</td>
				</form>
				</tr>
				<% } %>
			</tbody>
		</table>
		</div>
		<script>
			
		</script>
  </body>
</html>
