<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/appStyle.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
  </head>
  <body>
			<div class="header">
					<% if (drivermode) { %>
						<%- include driverHeader.ejs %>
					  <% } else if (!drivermode && driver) { %>
						<%- include dualHeader.ejs %>
					  <% } else { %>
						<%- include passengerHeader.ejs %>
					  <% } %>
				</div>
		
		<div class="main">
		<h1><%= title %></h1>
		<div style = "background-color: PALEGOLDENROD">Available balance (before deducting existing bids): <%= getWalletBalance[0].balance %> <br>
			Available balance (after deducting existing 'pending' bids): <%= getWalletBalance[0].balance - getTotalBids[0].totalbid %>
		</div>
		<br>
		<% if (drivermode) { %>
			<form id="html_form" action="wallet?drivermode=true" role="form" method="post">
		<% } else { %>
			<form id="html_form" action="wallet" role="form" method="post">
		<% } %>

			<div class="form-group">
				<label for="amount">Top up wallet</label>
				<input type="number" class="form-control" id="amount" name="amount" required=true placeholder="Enter amount here" min="1"></input>
      </div>
			<button type="submit" class="btn btn-primary">Top Up</button>
		</form>
		<br>
		<% if (drivermode) { %>
			<form id="html_form" action="wallet?drivermode=true&search=true" role="form" method="post">
		<% } else { %>
			<form id="html_form" action="wallet?search=true" role="form" method="post">
		<% } %>				
		<div class="form-group">
					<label style="padding-top: 5px" for="date">Search date</label>
					<input type="text" class="form-control" id="date" name="date" placeholder="Enter YYYY-MM here">
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
		</form>
		<br>
		<h2>Transactions summary by month</h2>
		<table class="table">
				<thead>
					<tr>
						<th scope="col">Year Month</th>
						<th scope="col">Total amount topped up</th>
						<th scope="col">Total amound deducted</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<getTransactionSummary.length; i++) { %>
					<tr>
						<td><%= getTransactionSummary[i].year_month%></td>
						<td><%= getTransactionSummary[i].topup%></td>
						<td><%= getTransactionSummary[i].deducted%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
  </body>
</html>
